.App {
  max-width: 400px;
  margin: auto;
  background: rgba(0, 0, 0, 0.75);
  padding: 2rem;
  border-radius: 8px;
  border: 4px solid #f133d8;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  align-items: center;
  
}
.header {
  justify-items: center;
    
}

.line {
  width: 100%;
  height: 2px;
  background-color: #f589e7;
  margin: 1rem 0;
}

.spann {
  font-weight: bold;
  font-size: xx-large;
  color: #f133d8;
}


.App:hover {
  background: transparent;
  box-shadow:inset 0 0 10px rgba(241, 51, 216, 0.5);
  border-color: #fbcefa;
}


/* App.css */



.todo-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem; /* space between tasks */
  margin-top: 1rem;
}

button {
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background: #fa86eb;
  color: #222;
  font-weight: bold;
  margin-left: 0.5rem;
  transition: background 0.3s;
}

button:hover {
  background: #f7c4f0;
}




/* Style the form */
.todo-form {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}


.todo-input {
  padding: 0.75rem 1rem;
  font-size: 1rem;
  border: 2px solid #f974df;
  border-radius: 8px;
  width: 200px;
  color: #000000;
  background-color: transparent;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.todo-input:focus {
  background-color: #f9ccf0;
  box-shadow: 0 0 0 2px #ff00cc66;
}

.todo-form form {
  display: flex;
  gap: 0.1em;
}

.todo-button {
  padding: 0.75rem 1.2rem;
  font-size: 2rem;
  background-color: #ff00cc;
  color: white;
  font-weight: bold;
  border-radius: 30%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.todo-button:hover {
  background-color: #c10598;
}
